@import 'iconfont.css';
@import 'color.scss';

html {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    width:100vw;
    height:100vh;
}
body,#app{
    width:100%;
    height:100%;
    margin:0;
}
.btnGroup button{
    display:block;
    width:100%;
}
.abtn{
    color:$mainColor;
    cursor: pointer;
    padding:0 5px;
}
.float_r{
    float:right;
}
//登陆页
//改变默认输入框背景
.el-input__inner{
    background-color:inherit;
}
//上传
.avatar-uploader{
    text-align: left;
    
}
//搜索模块
.serchBox{
    padding:1rem;
    display: flex;
    display: -webkit-flex;
    .el-input{
        width:170px;
        margin-right:1rem;
    }
}
//导入以及导出按钮
.SerchBtn{
    margin-left:10px;
}

